.contact-details {
  .time-label {
    font-family: $font-family-bolder;
    margin: 0.33vw 0;
  }
  .italic{
    font-family: $font-family-bolder;
  }
  .aligned-header{
    margin-left: 0;
    padding-left: 15px;
  }
}
