.nurse-doctor {
    button.selected {
        background-color: #5d5d5d;
        color: #ffffff;
    }
    .italic {
        font-family : HelveticaNeue-Italic;
    }
    .row{
        padding: 0px;
    }

}
