node_modules
www
.gradle
.idea
.temp
.editorconfig
.sass-cache
artifacts
app/bower_components
build
coverage
distributions
platforms
plugins
*.swp
*.swo
*.log
*.DS_Store
*.iml

app/scripts/configuration.js
app/scripts/templates.js
app/styles/*.css
app/styles/*.css.map