<ion-view class="landing">
  <ion-content>
    <img class="logo-alt" src="images/MedConnectLogoWhite.svg"/>
    <div class="row">
      <div class="col col-landing-image col-offset-7">
        <img class="main-img" src="images/landingPage_image.png"/>
      </div>
      <div class="col col-40 col-offset-2 btn-center">
        <p class="title-text">Welcome to MedConnect&reg;!</p>
        <p>Let us help you identify an eligible medical supply provider that meets your insurance and prescription needs, and will deliver orders conveniently, right to your door!</p>
        Please have the following information available:
        <ol>
          <li>Insurance Information</li>
          <li>Doctor Name and Contact Information</li>
          <li>Medical Supply Needs</li>
        </ol>
        <p></p>
        <p>Click below to get started today! A dedicated MedConnect&reg; representative will be in contact with you to discuss your medical supply needs.</p>
        <button class="btn btn-nav btn-begin" ui-sref="startRequest">Begin now</button>
      </div>
    </div>
    <div class="row">
      <div class="col col-90 col-offset-7">
        <span class="bold">Save on medical supplies like:</span>
        <image-carousel image-data="carouselData" shown-images="5"></image-carousel>
      </div>
    </div>
    <div class="row">
      <div class="col col-offset-7">
        <span class="italic flavor-text">Suppliers identified by MedConnect® may be affiliated with Cardinal Health. MedConnect® is a service and is not the provider of medical supplies. The submission of this information does not guarantee payment, coverage or denial by your health insurance. Each request requires insurance verification for further review of coverage.</span>
      </div>
    </div>
  </ion-content>
</ion-view>
