<ion-view class="patient-info">
    <ion-content>
        <rascal-header></rascal-header>
        <div class="row">
            <div class="col col-25">
                <left-pane></left-pane>
            </div>
            <div class="col col-65">
                <div class="row">
                    <div class="col">
                        <h2>PATIENT INFORMATION</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Would you like to upload your patient's information?
                    </div>
                </div>
                <div class="row">
                    <div class="col"></div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-unselected" ng-click="togglePatientInfoUpload()" ng-class="{'btn-selected': patientInfoUpload}">Yes</button>
                        <span class="btn-space"></span>
                        <button class="btn btn-unselected" ng-click="togglePatientForm()" ng-class="{'btn-selected': patientForm}">No</button>
                        <span class="btn-space"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col"></div>
                </div>
                <div class="row" ng-hide="patientForm || patientInfoUpload">
                    <div class="col">
                        We'll need the patient's...
                        <br/> - Full Name
                        <br/> - Mailing Address
                        <br/> - Date of Birth
                        <br/> - Gender
                        <br/>
                        <br/> Note: You won't need to upload the same document again if it has information that applies to multiple sections. You can upload up to four documents.
                    </div>
                </div>
                <div ng-if="patientInfoUpload">
                    <div class="row">
                        <div class="col">
                            <uploadfiles></uploadfiles>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col"></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span>Note: Please load only files with the following filename extensions: .pdf, prn, .jpg, .jpeg, .tif, .tiff, .bmp</span>
                        </div>
                    </div>
                    <div class="row file-upload">
                        <div ng-repeat="file in files track by $index">
                            <div class="fileImage" ng-hide="fileImage{{$index}}">
                                <i class="icon ion-android-delete fileDeleteIcon" ng-click="showConfirm($index,'{{file.fileName}}')"></i>
                                <i class="icon ion-document-text fileImgIcon"></i>
                                <br/>
                                <span class="fileNameTxt">{{file.fileName | truncate : 30}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="patientForm">
                    <form ng-model-options="{ updateOn: 'blur' }">
                        <div class="row">
                            <div class="col col-30">
                                Patient Full Name
                            </div>
                            <div class="col col-60">
                                <label>
                                    <input restrict-input type="text" ng-model="form.name" />
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-30">
                                Primary Street Address
                            </div>
                            <div class="col col-60">
                                <label>
                                    <input restrict-input type="text" ng-model="form.address1" />
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-30"></div>
                            <div class="col col-60">
                                <label>
                                    <input restrict-input type="text" ng-model="form.address2" />
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-30">
                                City
                            </div>
                            <div class="col col-60">
                                <label>
                                    <input restrict-input type="text" ng-model="form.city" />
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-30">
                                State
                            </div>
                            <div class="col col-15">
                                <label>
                                    <input restrict-input type="text" ng-model="form.state" maxlength="2" ng-focus="onStateFocus()" ng-class="{ 'has-error' : !stateValid }" state-input capitalize/>
                                </label>
                            </div>
                            <div class="col col-10 col-offset-10">
                                ZIP
                            </div>
                            <div class="col col-25">
                                <label>
                                    <input restrict-input type="text" ng-model="form.zip" minlength="1" maxlength="5" numbers-only ng-focus="onZipFocus()" ng-class="{ 'has-error' : !zipValid }" />
                                </label>
                            </div>
                        </div>
                        <div class="row error-row">
                            <div class="col col-40">
                                &nbsp;
                            </div>
                            <div class="col col-35">
                                <span class="error-msg" ng-hide="stateValid">Please enter a valid state</span>
                            </div>
                            <div class="col col-30">
                                <span class="error-msg" ng-hide="zipValid">Please enter a valid zip code</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-30">
                                Date of Birth
                            </div>
                            <div class="col col-40">
                                <label>
                                    <input id="nursepatientinfodob" type="text" ng-model="form.dob" />
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-30">
                                Gender
                            </div>
                            <div class="col col-60">
                                <button class="btn" ng-class="selectionClass('Male')" ng-click="pickMale()">Male</button>
                                <span class="btn-space"></span>
                                <button class="btn" ng-class="selectionClass('Female')" ng-click="pickFemale()">Female</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col col-10">
                &nbsp;
            </div>
        </div>
        <div class="rascal-footer-spacer"></div>
    </ion-content>
    <rascal-footer btn-index-zero="btnIndexZero" btn-index-one="btnIndexOne" callback="validate()"></rascal-footer>
</ion-view>
