<!--
<modal-dialog width='750px' height='60%'>

</modal-dialog>-->

<vital-signs title="Vitals">
    <div class="row top">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <div class="row vital">
                Temperature
            </div>
            <div class="row vital-value">
                {{temp}}
            </div>
        </div>
        <div class="col-xs-2"></div>
    </div>
    <div class="row spacer-row"></div>
    <div class="row">
        <keypad value="temp"></keypad>
    </div>
</vital-signs>
